


/* .navbar {
    color:red;
    text-align:right;
    font-size:30px;
} */

#logo{ 
    /* makes logo not scroll with page */
	position: absolute;
    /* time of zoom in-out of logo */
    transition: transform .5s;
    /* this makes it zoom out from the corner */
    transform-origin: top left;
    padding: 20px;
	top:0; 
	left:0;
    }
    #logo:hover{
    transform:scale(2.0);
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: rgb(113, 67, 156);
  }
  
  .navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(255, 255, 255);
  }
  
  .navbar a:hover {
    background: #152fc0;
  }
  
  @media all and (max-width: 800px) {
    .navbar {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navbar {
      flex-flow: column wrap;
      padding: 0;
    }
    .navbar a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navbar li:last-of-type a {
      border-bottom: none;
    }
}

/* code for header */
h1 {
    color:  rgb(255, 166, 0);
    font-size:50px;
    font-family: Arial;
    padding-top: 100px;
    text-decoration: underline;
    text-align:center;
}

p1 {
    font-size: 20px;
    font-family: Arial;
    color:white;
}

p2 {
    font-size: 20px;
    font-family: Arial;
    color:white;
}

p3 {
    font-size: 30px;
    text-align: center;
    color:white;
}

.p4 {
    font-size: 30px;
    width:35%;
    margin: 10px auto;
    text-align: center;
    color: white;
}

p5 {
    font-size: 25px;
    text-align: center;
    color:white;
}

p6 {
    font-size: 30px;
    margin: 570px;
    text-align: center;
    color:white;
}

/* .poster1 {
    .text {
        color: red;
        position: absolute;
        overflow: auto;
        padding-left: 10px;
    }
    .img1 {
        float: left;
        overflow: auto;
        }  
    
}

.poster2 {
    .text {
        color: red;
        padding-left: 839px;
        position: absolute;
        overflow: auto;
    }
    .img2 {
        float: left;
        padding-left: 629px;
        position: absolute;
        overflow: auto;
        }  
    
} */

.poster12 {

    .text{
        color: red;
        display: inline-block;
        width: 33%;
        overflow: auto;
        padding-left: 10px;
    }

  .img1 {
    float: left;
    overflow: auto;
    }  

    .text1 { 
        color: red;
        display: inline-block;
        position: absolute;
        overflow: auto;
        padding-left: 210px;
      }

    .img2 {

        float: left;
        position: absolute;
        }
}

/* .poster3 {
    .text {
        color: red;
        position: absolute;
        overflow:auto;
        padding-left: 10px;
    }
    .img3 {
        float: left;
        overflow:auto;
        }  
    
}

.poster4 {
    .text {
        color: red;
        padding-left: 839px;
        position: absolute;
        overflow:auto;
    }
    .img4 {
        float: left;
        padding-left: 629px;
        position: absolute;
        overflow:auto;
        }  
    
} */

.poster34 {
    .text{
        color: red;
        display: inline-block;
        width: 33%;
        overflow: auto;
        padding-left: 10px;
    }

  .img3 {
    float: left;
    overflow: auto;
    }  

    .text1 { 
        color: red;
        position: absolute;
        display: inline-block;
        overflow: auto;
        padding-left: 210px;
      }

    .img4 {

        float: left;
        position: absolute;
        }
}       


/* .poster5 {
    .text {
        color: red;
        position: absolute;
        overflow:auto;
        padding-left: 10px;
    }
    .img5 {
        float: left;
        overflow:auto;
        }  
    
}

.poster6 {
    .text {
        color: red;
        padding-left: 840px;
        position: absolute;
        overflow:auto;
    }
    .img6 {
        float: left;
        padding-left: 630px;
        position: absolute;
        overflow:auto;
        }  
    
} */

.poster56 {
    .text{
        color: red;
        display: inline-block;
        width: 33%;
        overflow: auto;
        padding-left: 10px;
    }

  .img5 {
    float: left;
    overflow: auto;
    }  

    .text1 { 
        color: red;
        position: absolute;
        display: inline-block;
        overflow: auto;
        padding-left: 210px;
      }

    .img6 {

        float: left;
        position: absolute;
        }
}   


/* .poster7 {
    .text {
        color: red;
        position: absolute;
        overflow:auto;
        padding-left: 10px;
    }
    .img7 {
        float: left;
        overflow:auto;
        }  
    
}

.poster8 {
    .text {
        color: red;
        padding-left: 840px;
        position: absolute;
        overflow:auto;
    }
    .img8 {
        float: left;
        padding-left: 630px;
        position: absolute;
        overflow:auto;
        }  
    
} */

.poster78 {
    .text{
        color: red;
        display: inline-block;
        width: 33%;
        overflow: auto;
        padding-left: 10px;
    }

  .img7 {
    float: left;
    overflow: auto;
    }  

    .text1 { 
        color: red;
        position: absolute;
        display: inline-block;
        overflow: auto;
        padding-left: 210px;
      }

    .img8 {

        float: left;
        position: absolute;
        }
}   

/* .poster9 {
    .text {
        color: red;
        position: absolute;
        overflow:auto;
        padding-left: 10px;
    }
    .img9 {
        float: left;
        overflow:auto;
        }  
    
}

.poster10 {
    .text {
        color: red;
        padding-left: 839px;
        position: absolute;
        overflow:auto;
    }
    .img10 {
        float: left;
        padding-left: 629px;
        position: absolute;
        overflow:auto;
        }  
    
} */

.poster910 {
    .text{
        color: red;
        display: inline-block;
        width: 33%;
        overflow: auto;
        padding-left: 10px;
    }

  .img9 {
    float: left;
    overflow: auto;
    }  

    .text1 { 
        color: red;
        position: absolute;
        display: inline-block;
        overflow: auto;
        padding-left: 210px;
      }

    .img10 {

        float: left;
        position: absolute;
        }
}   

.video {
    text-align:center;
    font-size:30px;
}