


/* .navbar {
    color:red;
    text-align:right;
    font-size:30px;
} */

#logo{ 
    /* makes logo not scroll with page */
	position: absolute;
    /* time of zoom in-out of logo */
    transition: transform .5s;
    /* this makes it zoom out from the corner */
    transform-origin: top left;
    padding: 20px;
	top:0; 
	left:0;
    }
    #logo:hover{
    transform:scale(2.0);
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: rgb(113, 67, 156);
  }
  
  .navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(255, 255, 255);
  }
  
  .navbar a:hover {
    background: #152fc0;
  }
  
  @media all and (max-width: 800px) {
    .navbar {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navbar {
      flex-flow: column wrap;
      padding: 0;
    }
    .navbar a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navbar li:last-of-type a {
      border-bottom: none;
    }
}

/* code for header */
h1 {
    color:  rgb(255, 166, 0);
    font-size:50px;
    font-family: Arial;
    padding-top: 100px;
    text-decoration: underline;
    text-align:center;
}

p1 {
    font-size: 20px;
    font-family: Arial;
    color:white;
}

p2 {
    font-size: 20px;
    font-family: Arial;
    color:white;
}

p3 {
    font-size: 30px;
    text-align: center;
    color:white;
}

.p4 {
    font-size: 30px;
    width:35%;
    margin: 10px auto;
    text-align: center;
    color: white;
}

p5 {
    font-size: 25px;
    text-align: center;
    color:white;
}

p6 {
    font-size: 30px;
    margin: 570px;
    text-align: center;
    color:white;
}

.poster1 {
  float: left;
  width: 45%;

  .img1 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster2 {
  float: right;
  width: 55%;

  .img2 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster3 {
  float: left;
  width: 45%;

  .img3 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster4 {
  float: right;
  width: 55%;

  .img4 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster5 {
  float: left;
  width: 45%;

  .img5 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster6 {
  float: right;
  width: 55%;

  .img6 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster7 {
  float: left;
  width: 45%;

  .img7 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster8 {
  float: right;
  width: 55%;

  .img8 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster9 {
  float: left;
  width: 45%;

  .img9 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.poster10 {
  float: right;
  width: 55%;

  .img10 {
    float: left;
  }

  .text {
    margin-left: 210px;
    color: red;
  }
}

.video {
    text-align:center;
    font-size:30px;
}
